@import "../../../variables";

.topMenu__search {
    width: 184px;
    height: 30px;
    box-sizing: border-box;
    padding-left: 40px;
    border: none;
    background-color: #A9A9A9;
    background-image: url("../../../assets/images/search.png");
    background-repeat: no-repeat;
    background-position: 10px 2px;
}

.topMenu__search::placeholder,
.topMenu__search {
    @include btnText();
    color: rgb(255, 255, 255);
}
