.creatingForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.creatingForm__sendBlock {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.creatingForm__errorTxt,
.creatingForm__successTxt {
    display: none;
}