@import "../../../variables";

.viewerUnit__tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.viewerUnit__task {
    display: grid;
    grid-template-areas: "name openBtn"
                        "description status"
                        "date date";
    gap: 10px;
    padding: 10px;
    background-color: #d2d2d2;
}

.viewerUnit__task__name {
    grid-area: name;
    @include headerText($fontSize: 18px)
}

.viewerUnit__task__openBtn {
    grid-area: openBtn;
    justify-self: self-end;
    width: 150px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: inset 1px 2px 5px rgb(255, 255, 255);
    background-color: #d2d2d2;
    cursor: pointer;

    @include smallText()
}

.viewerUnit__task__description {
    grid-area: description;

    @include averageText()
}

.viewerUnit__task__status {
    grid-area: status;
    align-self: center;
    justify-self: self-end;
    width: 35px;
    height: 35px;
    border: 2px solid #717171;
    border-radius: 5px;
}

.viewerUnit__task__status_close {
    background-image: url('./../../../assets/images/taskStatus.png');
    background-repeat: no-repeat;
    background-position: center;
}

.viewerUnit__task__date {
    grid-area: date;
    justify-self: self-end;

    @include smallText()
}

.viewerUnit__task__name, 
.viewerUnit__task__date,
.viewerUnit__task__description {
    margin: 0;
}

@media all and (max-width: 500px) {
    .viewerUnit__task {
        grid-template-areas: "name name name"
                            "description description description"
                            "status openBtn date";
        grid-template-columns: repeat(3, min-content);
        align-items: center;
    }
}