@import "../../../variables";

.viewerUnit__tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.viewerUnit__task {
    display: grid;
    grid-template-areas: "name name"
                        "description status"
                        "date date";
    gap: 10px;
    width: 95%;
    padding: 10px;
    background-color: #D2D2D2;
}

.viewerUnit__task__name {
    grid-area: name;
    @include headerText($fontSize: 18px)
}

.viewerUnit__task__description {
    grid-area: description;

    @include averageText()
}

.viewerUnit__task__status {
    grid-area: status;
}

.viewerUnit__task__date {
    grid-area: date;
    justify-self: self-end;
}

.viewerUnit__task__name, 
.viewerUnit__task__date,
.viewerUnit__task__description {
    margin: 0;
}