@import "../../../variables";

.viewerUnit__filterBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.viewerUnit__filterBlock__filterImage {
    width: 11px;
    height: 8px;
}

.viewerUnit__filterBlock__filterBtn {
    border: none;
    cursor: pointer;
    
    @include smallText();
}