.App {
    display: grid;
    grid-template-areas: "topMenu topMenu topMenu" 
    "sidebar viewerUnit viewerUnit";
    grid-template-rows: 59px 1fr;
    grid-template-columns: 200px 1fr;
    background-color: #ECECEC;
}